{% extends "master.njk" %}
{% block main %}
  <body>
    <div id="gallina-container" class="gallina">
      <!-- Contenedor de la gallina -->hh
    </div>
jbjbj
    <script type="module" src="../app.js"></script>
  </body>
</html>
</div>

</body>
{% endblock %}