{% extends "master.njk" %}
{% block main %}
  <link rel="stylesheet" href="https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/css/styleAdmin.css"/>
  <body>

    <!-- Contenedor del juego -->
    <div id="game-container">

      <div id="player"></div>
    </div>

    <!-- Incluye Phaser y tu código de juego -->
    <!-- Incluye Pixi.js -->
    <script src="https://cdn.jsdelivr.net/npm/pixi.js@5.3.3/dist/pixi.min.js"></script>

    <!-- Incluye Phaser -->

    <script src="//cdn.jsdelivr.net/npm/phaser@3.70.0/dist/phaser.min.js"></script>

    <script src="/js/game.js"></script>

  </body>

{% endblock %}