

/*--------------------------- Dinamita dog ------------------------------------------------*/
/*--------------------------- index partial------------------------------------------------*/


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
 background-color: #44505b; 
 background-image: url("https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/fondodog.gif");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 100% de la altura de la ventana visible */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Ajusta el color del texto según sea necesario */
  font-size: 24px;
}

.fondo1 {
  background-color: #fff;
  float: right;
  display: block;
  padding-left: 20px;
  padding-top: 80px;
  height: 100vh;
  width: 780px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin-left: 700px;
  margin-right: 0;
  transition: margin-right 0.5s ease;
}

.dinamitaDogImg {
  background-image: url("https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/fondo1.jpg");
  padding-right: 80px;
  width: 700px;
  height: 400px;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 1;
 
}

.enterClass {
  color: #c880b8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 117px;
  height: auto;
  width: 300px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 400px;
  float: left;
  z-index: 0;
  

}




/*--------------------------- Master Administrador------------------------------------------------*/
#contenedorMasterAdministrador {
  background-color: #ffffff;
  height: 420px;
  margin-left: 50px;
  margin-top: 10px;
  position: absolute;
  width: auto;
}

