

/*--------------------------- Dinamita dog ------------------------------------------------*/
/*--------------------------- index partial------------------------------------------------*/


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor {
 background-color: #fff; 
  height: 100vh; /* 100% de la altura de la ventana visible */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Ajusta el color del texto según sea necesario */
  font-size: 24px;
}

#DivLEFT{
  height: 100vh;
  width: 780px;
  position: absolute;
  background-color: #FEC426;
  
}
#DivRIGHT{
  height: 100vh;
  width: 780px;
  float: right;
}

.fondoLEFT {
  background-image: url("https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/imgfondoLEFT.gif");
  background-repeat: no-repeat;
  float: left;
  display: block;
  padding-left: 20px;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin-right: 700px;
  margin-left: 0;
  transition: margin-left 0.5s ease;
}
.fondoRIGHT {
  background-image: url("https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/imgfondoRIGHT.gif");
  float: right;
  background-repeat: no-repeat;
  display: block;
  padding-left: 20px;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin-left: 700px;
  margin-right: 0;
  transition: margin-right 0.5s ease;
}





.dinamitaDogImg {
  background-image: url("https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/fondo1.jpg");
  padding-right: 80px;
  width: 400px;
  height: 400px;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 1;
 
}

.enterClass {
  color: #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 117px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  margin-top: 400PX;

}




/*--------------------------- Master Administrador------------------------------------------------*/
#contenedorMasterAdministrador {
  background-color: #ffffff;
  height: 420px;
  margin-left: 50px;
  margin-top: 10px;
  position: absolute;
  width: auto;
}

