

/*--------------------------- Dinamita dog ------------------------------------------------*/
/*--------------------------- index partial------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  
  background-color: #FEC426;
  overflow: hidden;
}
#container {
  width: 100vw; /* 100% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  background-color: #e0b5b5; /* Color de fondo (ajusta según tus necesidades) */
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-container {
  width: 100vw;
  height: 100vh;
  background-color: #FEC426; 
  background-size: cover;
  display: flex;
}

#player {
  width: 200px;
  height: 150px;
  background-image: url('https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/img/imgGallina.gif'); /* Reemplaza 'ruta/a/tu/gallina.gif' con la ruta correcta */
  background-size: cover;
  position: absolute;
  background-color: aliceblue;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


