<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Desplazamiento Horizontal</title>
  </head>
  <body>
    <div class="contenedor">
      <!-- Contenido adicional puede ir aquí -->
      <div id="DivLEFT"  class="fondoLEFT" >
        <!-- Contenido adicional puede ir aquí -->
        <div class="row">
          {# <div class="col dinamitaDogImg"></div>

          <div class="col">
            <button onclick="desplazar()" class="enterClass">ENTER</button>
          </div> #}
        </div>
      </div>

      <div id="DivRIGHT"  class="fondoRIGHT" >
        <!-- Contenido adicional puede ir aquí -->
        <div class="row">
          {# <div class="col dinamitaDogImg"></div>

          <div class="col">
            <button onclick="desplazar()" class="enterClass">ENTER</button>
          </div> #}
        </div>
      </div>

    </div>

    <script>
      function desplazar() {
        var miDiv = document.getElementById('DivLEFT');
        miDiv.style.transition = 'margin-right 0.5s ease';
        miDiv.style.marginRight = '760px'; // Modifica el valor según sea necesario
        miDiv.style.marginLeft = "-10px";
      }
    </script>
  </body>
</html>