<body>
  <div class="contenedor">
    <!-- Contenido adicional puede ir aquí -->
    <div class="fondo1" id="miDiv">
      <!-- Contenido adicional puede ir aquí -->

    </div>
    <button onclick="desplazar()">Desplazar</button>

    <script src="script.js"></script>

  </div>

</body>