<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://dinamitadog-01a0d2a58fb2.herokuapp.com/static/css/styleAdmin.css"/>
    <title>Gallina Simulator</title>
  </head>
  <body>
    <div id="gallina-container" class="gallina">
      <!-- Contenedor de la gallina -->hh
    </div>
jbjbj
    <script type="module" src="./app.js"></script>
  </body>
</html>